main {
  width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

img.fullscreen {
  width: 100vw;   /* stretches to full viewport width */
  height: 100vh;  /* stretches to full viewport height */
  object-fit: cover;
}

/*first quote of the homePage (contains the image of the mountains and a few quotes)*/
.first-quote-and-image-container {
  width: 100%;
  height: 550px;
  margin-top: 110px;
  margin-bottom: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.first-quote-image {
  aspect-ratio: 16 / 9;    /* Keeps proportions */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media(max-width: 600px) {
  .first-quote-and-image-container {
    height: 400px;
  }
}

.first-quote-container {
  position: absolute;
  width: 650px;
  color: white;
  /*
  background: linear-gradient(to bottom, rgb(120, 120, 120), rgba(0, 0, 0,0.9) 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  */
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.first-quote {
  font-size: clamp(1.5rem, 6.5vw, 3.5rem); 
  font-weight: 500;
  font-style: italic;
}

.coach-sona-img {
  position: absolute;
  bottom: -170px;
  width: 270px;
  height: 270px;
  border-radius: 150px;
  object-fit: cover;
}

@media(max-width: 600px) {
  .coach-sona-img {
    width: 200px;
    height: 200px;
    bottom: -130px;
  }
}


/*Gives a brief introduction on what Life Coaching is*/
.life-coaching-introduction-container {
  width: 100%;
  height: 100%;
  margin-top: 120px;
  margin-right: 20px;
  padding-top: 6px;
  display: flex;
  position: relative;
  background: rgb(94, 94, 94);
  box-shadow: 0 0 10px rgba(0,0,0,0.7)
}

.logo {
  position: absolute;
  bottom: -120px;
  right: 2px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  filter: drop-shadow(0 0 10px rgba(223, 223, 223, 0.5));
  transition: all 0.3s ease
}

.logo:hover {
  transform: scale(1.1) translateY(-2px);
  transition: all 0.3s ease;
}

.life-coaching-introduction-image {
  aspect-ratio: 4 / 3;
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 70vh;
  box-shadow: 0 0 45px rgba(0,0,0,1)
}

.life-coaching-introduction-text {
  margin-left: 25px;
}

.life-coaching-introduction-title {
  font-size: 2.5vw;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(223,223,233,0.55);
}

.life-coaching-introduction-description {
  font-size: 1.5vw;
  margin-top: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  margin-right: 5px;
}

@media(max-width: 1400px) {
  .life-coaching-introduction-description {
    font-size: 2vw;
  }
}

@media(max-width: 1069px) {
  .life-coaching-introduction-description {
    font-size: 2.5vw;
  }
}

@media(max-width: 920px) {
  .life-coaching-introduction-image {
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 75%;
  }
}

@media(max-width: 832px) {
  .life-coaching-introduction-container {
    flex-direction: column;
  }
  .life-coaching-introduction-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 550px;
  }
  .life-coaching-introduction-text {
    margin-left: 5px;
  }
  .life-coaching-introduction-title {
    margin-top: 10px;
    font-size: 4.5vw;
  }
  .life-coaching-introduction-description {
    line-height: 2;
    font-size: 4vw;
  }
}

@media(max-width: 710px) {
  .life-coaching-introduction-container {
    flex-direction: column;
  }
  .life-coaching-introduction-image {
    width: auto;
    height: auto;
  }
  .life-coaching-introduction-text {
    margin-left: 5px;
  }
  .life-coaching-introduction-title {
    margin-top: 10px;
    font-size: 4.5vw;
  }
  .life-coaching-introduction-description {
    line-height: 2;
    font-size: 4vw;
  }
}

@media(max-width: 600px) {
  .life-coaching-introduction-image {
    width: auto;
    height: auto;
    max-height: 380px;
  }
  .logo {
    width: 120px;
    height: 120px;
    bottom: -90px
  }
}

@media(max-width: 500px) {
  .life-coaching-introduction-image {
    width: auto;
    height: auto;
    max-height: 315px;
  }
}

@media(max-width: 390px) {
  .life-coaching-introduction-image {
    width: auto;
    height: auto;
    max-height: 260px;
  }
}


summary {
  cursor: pointer;
}



/*States the brief purpose of life coaching*/
.purpose-of-life-coaching-container {
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
}

@media(max-width: 600px) {
  .purpose-of-life-coaching-container {
    margin-top: 150px;
  }
}

.purpose-of-life-coaching-content {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.purpose-of-life-coaching-image {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 35px rgba(0,0,0,1)
}

.purpose-of-life-coaching-text {
  font-family: "Nunito Sans", sans-serif;
  position: absolute;
  left: 5%;
  top: 10%;
  color: rgba(255,255,255,0.9);
  /*
  background: linear-gradient(to bottom, rgba(0, 0, 0,1) 45%, rgb(188, 188, 188) 60%, rgb(255, 255, 255) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  */
  font-size: 3vw;
  font-weight: 300;
  width: 60%;
  text-shadow: 0 0 5px rgba(0,0,0,0.9);
}

@media(max-width: 704px) {
  .purpose-of-life-coaching-text {
    font-size: 4vw;
    width: 75%;
  }
}
@media(max-width: 575px) {
  .purpose-of-life-coaching-text {
    font-size: 4.5vw;
    width: 85%;
  }
}