body {
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.title {
  font-size: 2.7rem;
  font-weight: 300;
}

@media(max-width: 685px) {
  .title-container {
    width: 85%;
  }
  .title {
    font-size: 2rem
  }
}
@media(max-width: 527px) {
  .title-container {
    width: 90%;
  }
  .title {
    font-size: 1.7rem
  }
}

.services-container {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.services-grid {
  display: flex;              /* line them up in a row */
  flex-wrap: nowrap;          /* no wrapping */
  overflow-x:initial;           /* horizontal scroll if needed */
  overflow-y: hidden;         /* prevent vertical scroll */
  width: max-content;
  height: auto;               /* remove the 100vh, let content decide */
  gap: 1rem;                  /* spacing between items */
  margin-left: -4.3px;
  scroll-behavior: smooth;    /* smooth scroll on mobile/desktop */
  -webkit-overflow-scrolling: touch; /* smooth on iOS */
}

/* Firefox */
.services-grid {
  scrollbar-width: thin;                  /* "auto" | "thin" | "none" */
  scrollbar-color: #888 #eee;             /* thumb | track */
}

.services-grid::-webkit-scrollbar {
  height: 8px;
}

.services-container::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-radius: 10px;
}

.services-container::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 10px;
}

.services-container::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
  border-radius: 10px;
}

.service {
  flex: 0 0 auto;             /* prevent growing and shrinking and keeps the width a set */
  width: 450px;               /* fixed/min width for each service card */
}

.services-image-container {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.services-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 5px;
  box-shadow: 0 -1px 5px rgba(0,0,0,0.9)
}

.service-text {
  width: 100%;
  margin-left: 10px; 
}

.service-title {
  font-size: 200%;
  font-weight: 450;
}

.service-description {
  font-size: 100%;
  font-weight: 300;
}

@media(max-width: 725px) {
  .services-grid {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thick;                  /* "auto" | "thin" | "none" */
    scrollbar-color: #888 #eee;             /* thumb | track */
  }
}

@media(max-width: 426px) {
  .service-text {
    width: 90%;
  }
  .service-title {
    font-size: 1.5rem;
  }
  .service-description {
    font-size: 0.8rem;
  }
}

@media(max-width: 406px) {
  .service-text {
    width: 70%;
  }
  .service-title {
    font-size: 1.5rem;
  }
  .service-description {
    font-size: 0.7rem;
  }
}