.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: linear-gradient(to right, rgba(0,0,0,0.3) 1%, rgba(176, 176, 176, 0.3));
  backdrop-filter: blur(10px);
  z-index: 1000;
}


/*Default header*/
.default-header-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
}

.header-left-text {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 35px;
  margin-left: 35px;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  text-shadow: 0 0 15px rgba(200,200,200,1);
}
@media (max-width: 575px) {
  .header-left-text {
    font-size: 25px;
  }
}

.header-right {
  margin-right: 10px;
}
@media(max-width: 580px) {
  .header-right {
    width: 50%;
  }
}

.nav-menu {
  display: flex;
  height: 100%;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media(max-width:575px) {
  .nav-item {
    font-size: 20px;
  }
}

.nav-item:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease
}

.nav-seperator {
  height: 60px;
  width: 2px;
  align-self: center;
  background: linear-gradient(to bottom, transparent, rgba(29, 28, 28, 0.9), transparent);
}

.nav-item:hover {
  filter: brightness(1.1) invert(1) drop-shadow(0 0 15px rgb(0, 0, 0));
  transition: all 0.5s ease;
}



/*Hamburger menu*/
.hamburger-menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.hamburger-menu-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.hamburger-menu-icon {
  margin-left: 15px;
  margin-right: 15px;
  height: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  filter: invert(1)
}

.hamburger-menu-page {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.hamburger-menu-page-header {
  display: flex;
  justify-content: space-between;
  height: 10%;
  align-items: center;
}

.close-icon {
  margin-left: 15px;
  margin-right: 15px;
  height: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu-page-header p {
  font-family:  "Libre Baskerville", serif;
  color: black;
}

.hamburger-menu-page-options {
  display: flex;
  gap: 13vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.hamburger-menu-page-option {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 5vw;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hamburger-menu-page-option:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;
  
}

/*
.hamburger-menu-page-options a {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 5vw;
  font-weight: 300;
}
  */

.hamburger-menu-page img {
  width: 25px;
  height: 25px;
}


@media(min-width: 787px) {
  .hamburger-menu {
    display: none;
  }
}
@media(max-width: 787px) {
  .default-header-content {
    display: none;
  }
}

.hamburger-menu-page-removed {
  display: none;
}